DB_NAME=blockchain_indexer
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
PORT=3001

ENABLE_ETH_INDEXER=true
ETH_RPC_URL=https://cloudflare-eth.com

ENABLE_BTC_INDEXER=true
BTC_RPC_URL=https://nd-123-456-789.p2pify.com/your-api-key
